<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>2048+</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>type3</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>8 x 8</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Easy</string>
			<key>UIApplicationShortcutItemType</key>
			<string>8</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>type2</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>6 x 6</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Moderate</string>
			<key>UIApplicationShortcutItemType</key>
			<string>6</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>type1</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>4 x 4</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Hard</string>
			<key>UIApplicationShortcutItemType</key>
			<string>4</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
